.text-center{
	font-size: 45px;
	padding: 45px;
	font-family: Quesha;
}

.col-sm-6-text-center{
	font-size: 35px;

}

.container{ 
	 background-color: beige;

}

.break{
	background-color: orange;
	font-size: 65px;
}

.title{
	font-size: 105px;
}